body {
    color: white;
    background-color: black;
}

.js-memes-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

img {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: green;
    margin: 2px;
    object-fit: fill;
}

#memeBar {
    margin: 5px;
    text-align: center;
}

h1 {
    text-align: center;
}

.memeSearchBar {
    background-color: green;
    margin: 10px;
    border-radius: 25px;
}

@media (max-width: 650px) {
    img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 350px) {
    img {
        height: 100px;
        width: 100px;
    }
}