body {
    color: white;
    background-color: black;
}

.js-memes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

img {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: green;
    margin-top: 5px;
    object-fit: fill;
}

#memeBar {
    margin: 5px;
    text-align: center;
}

h1 {
    text-align: center;
}

.memeSearchBar {
    background-color: green;
    margin: 10px;
    border-radius: 25px;
}
